/log
/oss

/app/dispatchSvr/log
/app/dispatchSvr/panic
/app/dispatchSvr/dispatchSvr
/app/dispatchSvr/*.json
/app/dispatchSvr/*.txt
/app/dispatchSvr/*.xml

/app/nodeSvr/log
/app/nodeSvr/nodeSvr
/app/log
/app/nodeSvr/test
/app/nodeSvr/*.data
/app/nodeSvr/*.txt
/app/nodeSvr/*.json
/app/nodeSvr/*.xml

/test

*.log
*.json
*.txt
*.error